.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1rem;
  margin-top: 2rem;
}

.heading {
  text-align: left;
  font-size: 6rem;
}

.text {
  text-align: left;
}

.digit {
  text-align: left;
  font-size: 3rem;
  color: orange;
}

.brand{
  margin-top: 0.5rem;
  letter-spacing: 1rem;
}

.username {
  text-align: right;
  margin-top: 0.5rem;
  margin-right: 1rem;
  color: white
}

.link, .link:hover {
  color: orange;
}

.code {
  font-family: monospace;
}

/*CSS Styling for React Components and HTML Elements*/