.App {
  text-align: center;
  background-color: white;
}

.title {
  text-align: center;
  font-size: 8rem;
  letter-spacing: 1rem;
  margin-top: 6rem;
  width: 100%;
}

.tag {
  text-align: center;
}